/*!
 * Author: Parkd
 */

.info-grid{
    position: relative;
    width: 100%;
    height: auto;
    background-color: white;
}


.info-grid{
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.sectionDivider{
    width: 100%;
    height: 42px;
}

.team-photo {
    margin-bottom: 1em;
    width: 200px;
    height: 200px;
}

.websiteDescription h1{
    margin-left: 7%;
}

.websiteDescription p{
    color: #515A5A ;
    font-size: 20px;
    width: 86%;
    margin-left: 7%;
}

.websiteDescription li{
    color: #515A5A ;
    font-size: 20px;
    width: 90%;
    margin-left: 7%;
}

.team-info p{
    color: #515A5A ;
    font-size: 16px;
}

.team-photo-header{
    text-align: center;
}
