/*!
 * Author: Parkd
 */

.sectionDivider{
    width: 100%;
    height: 42px;
}

.team-photo {
    padding: 5%;
    margin-bottom: 5%;
}

.websiteDescription h1{
    margin-left: 7%;
}

.websiteDescription p{
    color: #515A5A ;
    font-size: 20px;
    width: 86%;
    margin-left: 7%;
}

.websiteDescription li{
    color: #515A5A ;
    font-size: 20px;
    width: 90%;
    margin-left: 7%;
}

.team-info p{
    color: #515A5A ;
}

.team-photo-header{
    text-align: center;
}
