/*!
 * Author: Parkd
 */

.bodyPhoto img{
    width: 100%;
    height: auto;
}

.bodyPhoto{
    position: relative;
    width: 100%;
    height: auto;
}

.sectionDivider{
    width: 100%;
    height: 42px;
}

.bodyPhoto .info{
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
}

.bodyPhoto .moreBtn{
    color: white !important;
    border-color: white !important;
    border-radius: 18px !important;
}

.bodyPhoto .basicInfo p, .bodyPhoto .photo-tag-info p{
    font-size: 20px;
    color: #797D7F;
}

.bodyPhoto .basicInfoCol{
    position: relative;
    top: 0;
    left: 3.6%;
    right: 4.6%;
    width: 90%;
}

.bodyPhoto .phoneInfo h1, .bodyPhoto .hourInfo h1, .bodyPhoto .rateInfo h1, .bodyPhoto .parkInfo h1{
    font-size: 22px;
}

.bodyPhoto .phoneInfo p, .bodyPhoto .hourInfo p, .bodyPhoto .rateInfo p, .bodyPhoto .locationInfo p, .bodyPhoto .truckInfo p {
    font-size: 18px;
}