/*!
 * Author: Parkd
 */

.team-photo {
    padding: 1.25rem;
    margin-bottom: -1.25rem;
}

.team-info p{
    color: #515A5A ;
}

.team-photo-header{
    text-align: center;
}

/*.list-group{
    display:inline-block !important;
}*/
