/*!
 * Author: Parkd
 */

.toTheTop{
    position: absolute;
    width: 100%;
    top: 0;
}

.header{
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
}

#photoImg{
    top: 0;
    width: 100%;
    height: auto;
}

.headerPhoto{
    width: 100%;
    height: auto;
}

.bodyPhoto{
    position: relative;
    width: 100%;
    height: auto;
}

.tintNav {
    background-color: rgba(0, 0, 0, 0.6) !important;
    background-image:none;
    box-shadow:none;
}

.tintNav>div>a {
    font-size: 30px;
    color:#fff;
}

.tintNav .navbar-nav>li>a {
    font-size: 20px;
    color:#fff;
}

.navbar-toggle {
    margin:10px 0;
    background: #000000;
    color: #ffffff;
}

.emptySpace{
    width: 100%;
    height: 120px;
}

.sectionDivider{
    width: 100%;
    height: 42px;
}

.intro h1 {
    font-size: 60px;
    color:#fff;
    position: relative;
    left: 0;
    top: 0;
    width: 66%;
    margin-left: 20%;
}

.intro p {
    font-size: 30px;
    color:#fff;
    position: relative;
    left: 0;
    top: 0;
    width: 66%;
    margin-left: 20%;
}

.info{
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
}

.basicDescription{
    position: relative;
    left: 8%;
    top: 0;
    right: 8%;
    width: 83.6%;
}

.basicInfo p{
    font-size: 20px;
    color: #797D7F;
}

.basicInfoCol{
    position: relative;
    top: 0;
    left: 3.6%;
    right: 4.6%;
    width: 90%;
}

.truckInfo h1, .hourInfo h1, .parkInfo h1{
    font-size: 22px;
}

.truckInfo p, .hourInfo p, .locationInfo p, .mediaFeeds p, .parkInfo p{
    font-size: 18px;
}


#map {
    height: 250px;
    width: 300px;
}



.footer {
    position: relative;
    left: 0;
    top: 120px;
    width: 100%;
    height: 100px;
    background-color: #212F3C;
    color: white;
    text-align: center;
}