/*!
 * Author: Parkd
 */


.transparentNavbar{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 20;
}

.transparentNav {
    background-color:transparent !important;
    border-color:transparent;
    background-image:none;
    box-shadow:none;
}

.transparentNav>div>a {
    font-size: 30px;
    color:#fff;
}

.transparentNav .navbar-nav>li>a {
    font-size: 20px;
    color:#fff;
}

.navbar-toggle {
    margin:10px 0;
    background: #000000;
    color: #ffffff;
}