/*!
 * Author: Parkd
 */

.intro{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: 480px;
    background:
            linear-gradient(
                    rgba(0, 0, 0, 0.6),
                    rgba(0, 0, 0, 0.6)
            ),
            url(../img/trucks/food-trucks-1.jpg);
    background-size: cover;
}

.intro h1 {
    font-size: 60px;
    color:#fff;
    position: absolute;
    left: 0;
    top: 30%;
    width: 80%;
    margin-left: 10%;
}

.intro p {
    font-size: 30px;
    color:#fff;
    position: absolute;
    left: 0;
    top: 50%;
    width: 80%;
    margin-left: 10%;
}

.info-grid{
    position: absolute;
    top: 480px;
    width: 100%;
    height: 100%;
    background-color: #F8F8FF;
}

.card-container{
    background-color: #F8F8FF;
}

.shadowCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    width: 96%;
}

.shadowImg {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    border-radius: 8px;
}

.truckCardTitle{
    text-align: center;
    font-family: "Verdana";
}

.truckCardText{
    color: #a9a9a9;
}

.truckCardBtn{
    border-radius: 28px;
}