/*!
 * Author: Parkd
 */

.toTheTop{
    position: absolute;
    width: 100%;
    top: 0;
}

.header{
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
}

.intro{
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
    background:
            linear-gradient(
                    rgba(0, 0, 0, 0.6),
                    rgba(0, 0, 0, 0.6)
            ),
            url(../img/trucks/food-trucks-1.jpg);
    background-size: cover;
}

.intro h1 {
    font-size: 60px;
    color:#fff;
    position: relative;
    left: 0;
    top: 30%;
    width: 66%;
    margin-left: 20%;
}

.intro p {
    font-size: 30px;
    color:#fff;
    position: relative;
    left: 0;
    top: 38%;
    width: 66%;
    margin-left: 20%;
}

.emptySpace{
    width: 100%;
    height: 120px;
}

.transparentNav>div>a {
    font-size: 30px;
    color:#fff;
}

.transparentNav .navbar-nav>li>a {
    font-size: 20px;
    color:#fff;
}

.navbar-toggle {
    margin:10px 0;
    background: #000000;
    color: #ffffff;
}

.info-grid{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #F8F8FF;
}

.card-container{
    background-color: #F8F8FF;
}

.shadowCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    width: 96%;
}

.shadowImg {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    border-radius: 5px;
}

.truckCardTitle{
    text-align: center;
    font-family: "Verdana";
}

.truckCardText{
    color: #a9a9a9;
}

.truckCardBtn{
    border-radius: 28px;
}
