/*!
 * Author: Parkd
 */

.bodyPark{
    position: relative;
    width: 100%;
    height: auto;
}

.sectionDivider{
    width: 100%;
    height: 42px;
}

.info{
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
}

.moreBtn{
    color: white !important;
    border-color: white !important;
    border-radius: 18px !important;
}

.basicDescription{
    position: relative;
    left: 8%;
    top: 0;
    right: 8%;
    width: 83.6%;
}

.basicInfo p{
    font-size: 20px;
    color: #797D7F;
}

.basicInfoCol{
    position: relative;
    top: 0;
    left: 3.6%;
    right: 4.6%;
    width: 90%;
}

.phoneInfo h1, .hourInfo h1, .rateInfo h1 {
    font-size: 22px;
}

.phoneInfo p, .hourInfo p, .rateInfo p, .locationInfo p, .mediaFeeds p {
    font-size: 18px;
}

.park-detail-carousel .carousel{
    position: relative !important;
    top: 0 !important;
    width: 100% !important;
    height: 680px !important;
}

.park-detail-carousel h1{
    text-align: center;
}
