/*!
 * Author: Parkd
 */

.toTheTop{
    position: absolute !important;
    width: 100%;
    top: 0 !important;
}

.transparentNav {
    background-color:transparent !important;
    border-color:transparent;
    background-image:none;
    box-shadow:none;
}

.tintNav {
    background-color: rgba(0, 0, 0, 0.6) !important;
    background-image:none;
    box-shadow:none;
}

.navbar-brand {
    font-size: 30px !important;
    color:#fff !important;
    margin-left: 10px !important;
}

.navbar-item {
    font-size: 20px !important;
    color:#fff !important;
}

.navbar-toggle {
    margin:10px 0;
    background: #000000 ;
    color: #ffffff;
}

.nav-search{
    margin-left: 2%;
    max-width: 20%;
}

.nav-search  input{
    background-color: transparent !important;
    border-radius: 15px;
    border-color: rgba(113, 125, 126, 0.8);
    font-size: 15px !important;
    color: rgba(255, 255, 255, 0.8) !important;
}

.nav-search ::placeholder{
    color: rgba(255, 255, 255, 0.68) !important;
}

.nav-search button{
    background-color: rgba(113, 125, 126, 0.8) !important;
    border-color: rgba(113, 125, 126, 0.8) !important;
    border-radius: 15px;
    font-size: 18px !important;
    color: rgba(255, 255, 255, 0.8) !important;
}