<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Model: Park</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/css/parks.css" rel="stylesheet">
    <link href="../static/css/transparentNavbar.css">

</head>

<body>
<div class="header">
    <div class="intro">
        <div class="emptySpace">
            <br>
        </div>
        <h1>Explore Parks Around You</h1>
        <p> * Location * Photos * Food trucks * Things to do (Dog park, pool, basketball, etc)</p>
        <div class="emptySpace">
            <br>
        </div>
    </div> <!-- intro -->

    <!-- Navigation -->
    <nav class="toTheTop transparentNav navbar navbar-expand-lg navbar-dark sticky-top">
        <div class="container">
            <a class="navbar-brand" href="/">Parkd.US</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapse navbar items -->
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="trucks.html">Trucks</a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link active" href="#">Parks
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="photos.html">Photos</a>
                    </li>
                </ul>
            </div>
        </div>  <!-- container -->
    </nav> <!-- navbar -->
</div>  <!-- header -->

<div class="info-grid">
    <br>
    <br>
    <div class="card-container container-fluid">
        <div id="parkCardsContainer" class="card-columns">

        </div>
    </div>
</div> <!-- end of grid -->

<!-- Footer -->
<div class="footer">
    <br>
    <p class="footerText text-center text-white">Parkd.US &copy; 2018</p>
    <br>
</div>




<!-- Bootstrap core JavaScript -->
<script src="../static/jquery/jquery.min.js"></script>
<script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../static/javascript/parks/parkCards.js"></script>

</body>

</html>
