<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Model: Truck</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/css/trucks.css" rel="stylesheet">

</head>

<body>
<div class="header">
    <!-- Navigation -->
    <nav class="transparentNav navbar navbar-expand-lg navbar-dark sticky-top">
        <div class="container">
            <a class="navbar-brand" href="#">Parkd.US</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapse navbar items -->
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Trucks
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Model #2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Model #3</a>
                    </li>
                </ul>
            </div>
        </div>  <!-- container -->
    </nav> <!-- navbar -->

    <div class="intro">
        <h1>Explore Food Trucks Around You</h1>
        <p>Name, Price range, Menu, Description, Cuisine, Park/Location, Photos</p>
    </div> <!-- intro -->
</div>  <!-- header -->

<div class="info-grid">
    <br>
    <br>
    <div class="card-container container-fluid">
        <div id="truckCardsContainer" class="card-columns">

        </div>
    </div>
</div> <!-- end of grid -->




<!-- Bootstrap core JavaScript -->
<script src="../static/jquery/jquery.min.js"></script>
<script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
<script language="JavaScript" src="../static/javascript/trucks/truckCards.js"></script>

</body>

</html>
