/*!
 * Author: Lin Guan
 */

.transparentNav{
    z-index: 15;
}

.home-carousel .carousel{
    position: absolute !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

.splashBtn{
    color: white !important;
    border-color: white !important;
    border-radius: 18px !important;
}

.splashBtn:hover, .splashBtn:focus, .splashBtn:active, .splashBtn:after, .splashBtn:before {
    border-color: #fff !important;
}